*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, 
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    /*Estilo para centralizar o conteudo e definir largura maxima*/
    padding: 20px;
    flex: 1;
    
    width: 85%;
    margin: 0 auto;
    background-color: #f4f4f4;

    /*Estilo para a borda*/
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer p {
    text-align: center ;
    padding: 10px 0;
    margin: 0;
}

#nav-bar {
    background: rgba(214, 180, 164, 0.6);
    backdrop-filter: blur(8px);
    padding: 12px 0;
    border-top: 1px solid rgb(214, 180, 164);
}

#nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 45px;
    margin: 0;
    padding: 0;

}
#nav-bar a {
    text-decoration: none;
    color: tomato;
    font-weight: 500;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 6px;
    transition: 0.3s;
}
#nav-bar a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}

#cabecalho {
    background: #f0f0f0 url("../imagens/img\ header.jpg") no-repeat center center/cover;
    padding: 40px 0 0 0 ;
    text-align: center;
    color: #fff;
}
#titulo-principal {
    font-size: 32px ;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}