*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, 
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#nav-bar {
    padding: 15px 0;
    background-color: rgb(214, 180, 164);
}

#nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
#nav-bar a {
    text-decoration: none;
    color: tomato;
    font-weight: bold;
}